/* :::::::::::::::::::::
    1 general
::::::::::::::::::::::: */

@font-face {
    font-family: quicksand;
    src: url(../../assets/font/Quicksand.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /* ---colors--- */
    --primary: #FC6F5C;
    --primary-varient: #7E382E;
    --secondary: #061161;
    --secondary-2: #780206;
    /* ---Background Color--- */
    --bg-white: #ffffff;
    --bg-light: #f2f2f2;
    /* ---Text Color--- */
    --text-gray: #748182;
    --text-white: #ffffff;
    --text-black: #000000;
    /* ---font--- */
    --primary-font: 'Quicksand';
    --secondary-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#preloader {
    background: #ffffff url(../../assets/images/preloader.gif) no-repeat center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.button_1,
.button_2:hover {
    text-decoration: none;
    font-size: 24px;
    padding: 7px 10px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    background-color: transparent;
    color: var(--primary);
    transition: all 0.9 ease-in-out;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}

.button_2,
.button_1:hover {
    text-decoration: none;
    font-size: 24px;
    padding: 7px 10px;
    border: 2px solid var(--primary-varient);
    border-radius: 8px;
    background-color: var(--primary-varient);
    color: var(--text-white);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}

.button_1:focus,
.button_2:focus {
    color: inherit;
}


/* ---2 navbar--- */

.header .navbar {
    height: 90px;
    transition: all 0.3s linear;
}

.header .nav-link {
    color: var(--text-white);
    font-weight: 400;
    font-size: 18px;
    margin-left: 15px;
}

.header .nav-item .nav-link:hover {
    color: var(--primary);
}

.header .logo {
    color: var(--text-white);
    text-transform: capitalize;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 3px;
}

.header .nav-item .nav-link.active {
    color: var(--primary);
}

.header .navbar_scrolled {
    height: 75px;
    background-color: var(--bg-white);
    color: var(--text-black);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.header .navbar_scrolled .nav-link {
    color: var(--text-gray);
    font-size: 16px;
    font-weight: 700;
}

.header .navbar_scrolled .logo {
    color: var(--text-black);
    font-size: 32px;
}


/* ---3 hero area--- */

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    padding: 180px 0 175px;
    background: linear-gradient(-90deg, rgba(120, 2, 6, 0.4) 0%, rgba(6, 17, 97, 0.8) 81.56%), url("../../assets/images/hero/bg-1.jpg");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .hero_content h3 {
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: 48px;
}

#home .hero_content h1 {
    font-family: var(--secondary-font);
    font-size: 96px;
    line-height: 90px;
    font-weight: 600;
    color: var(--primary);
}

#home .hero_content h2 {
    font-size: 36px;
    margin-top: 15px;
    font-family: var(--secondary-font);
    font-weight: 600;
}

.hero_section .hero_buttons {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.hero_section .hero_buttons .learn_more_btn {
    margin-right: 25px;
}


/* ----about section--- */

#about .container-fluid {
    padding: 80px 0;
}

.section_title {
    position: relative;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    margin: 50px 0 40px;
}

.section_title h2 {
    color: var(--text-black);
    font-weight: 600;
    text-align: center;
}

.section_title span {
    color: var(--primary);
}

.section_title::after {
    content: " ";
    position: absolute;
    left: auto;
    right: auto;
    width: 5%;
    height: 3px;
    bottom: 0;
    background-color: var(--primary);
}

#about .about_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

#about .about_img img {
    margin-bottom: 25px;
    margin-top: 20px;
    height: auto;
    max-height: 550px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 5px gray;
}

#about .about_content {
    font-size: 22px;
    padding: 0 25px;
    text-align: justify;
    color: var(--text-gray);
    font-weight: 600;
}

.about_content .social {
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_content .social h2 {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--text-black);
}

.about_content .social h2 span {
    color: var(--primary);
}

.about_content .social .sc_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_content .social .sc_icons .icon {
    background-color: var(--primary);
    height: 60px;
    border-radius: 50%;
    width: 60px;
    margin: 15px;
    transition: all 0.2s linear;
}

.about_content .social .sc_icons .icon:hover {
    background-color: #455A64;
}


/* =============education and skills============== */

#eduskills .edu_skills {
    margin: 30px 0;
}

#eduskills {
    padding: 30px 0;
    background-color: var(--bg-light);
}

#eduskills .edu_skills .edu_title {
    font-weight: 600;
    padding: 10px 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--text-black);
    margin: 0 15px;
    width: 100%;
}

#eduskills .edu_skills .edu_title::after {
    content: " ";
    position: absolute;
    left: auto;
    right: auto;
    width: 5%;
    height: 5px;
    bottom: 0;
    background-color: var(--primary);
}

#eduskills .edu_skills .org_name {
    color: var(--primary);
    font-size: 26px;
    font-weight: 500;
}

#eduskills .edu_skills .edu {
    margin-top: 15px;
}

#eduskills .edu_skills p {
    font-size: 20px;
    margin-bottom: 2rem;
    color: var(--text-gray);
}


/* ==========skillbars===== */

.skill_bars {
    margin-top: 20px;
}

.skill_bars .skill_bar {
    height: 10px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.63);
}

.skill_bars .skill_bar .fill_bar {
    height: inherit;
    width: 00%;
    position: relative;
    left: 0;
    top: 0;
    transition: all 2s linear;
    border-radius: 5px;
    background-color: var(--primary);
}

.skill_bars .skill_bar .skill_per {
    position: absolute;
    height: fit-content;
    width: 40px;
    text-align: center;
    right: 0%;
    top: 15px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 4px 4px 7px gray;
    background-color: rgb(90, 90, 90);
}

.skill_bars .skill_bar .skill_per::after {
    content: "";
    position: absolute;
    height: 10px;
    top: -3px;
    right: 5px;
    width: 10px;
    transform: rotate(45deg);
    background-color: rgb(90, 90, 90);
}

.skill_bars .fill_color .html {
    width: 90%;
}

.skill_bars .fill_color .js {
    width: 75%;
}

.skill_bars .fill_color .css {
    width: 85%;
}

.skill_bars .fill_color .reactjs {
    width: 75%;
}

.skill_bars .fill_color .nodejs {
    width: 60%;
}

.skill_bars .fill_color .mongo {
    width: 65%;
}


/* ===========services=========== */

#services {
    margin-top: 30px;
    padding: 30px 0;
}

#services .service .service_img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--primary);
}

#services .service .service_name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
}

#services .service_desc {
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    text-align: center
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
    min-height: 270px;
    max-width: 300px;
    margin: 0 20px 20px;
    transform-style: preserve-3d;
}

.service .face {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    box-shadow: 5px 6px 7px rgb(192, 192, 192);
    transform: perspective(500px) rotateY(0deg);
}

.service .face.front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-light);
}

.service:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.service .face.back {
    background-color: var(--text-gray);
    color: white;
    transform: perspective(500px) rotateY(180deg);
}

.service:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}


/* =======PROJECTS======= */

#projects .section_title {
    padding-top: 80px;
}

#projects .project {
    max-width: 300px;
    margin: 0 20px 20px;
    box-shadow: 0px 8px 10px gray;
    border-radius: 4px;
}

#projects .project .shp_project {
    background: url(../../assets/images/projects/calqulation-home.png);
}

#projects .project .ims_project {
    background: url(../../assets/images/projects/ims.png);
}

#projects .project .fms_project {
    background: url(../../assets/images/projects/FMS.png);
}

#projects .project .project_img {
    min-height: 200px;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #0000009a;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-transition: all 2s linear;
}

#projects .project .project_name {
    display: none;
    -ms-transition: all 2s linear;
}

#projects .project .shp_project:hover {
    background: linear-gradient(-90deg, rgba(120, 2, 6, 0.6) 0%, rgba(6, 17, 97, 0.6) 81.56%), url("../../assets/images/projects/calqulation-home.png");
}

#projects .project .fms_project:hover {
    background: linear-gradient(-90deg, rgba(120, 2, 6, 0.6) 0%, rgba(6, 17, 97, 0.6) 81.56%), url("../../assets/images/projects/FMS.png");
}

#projects .project .ims_project:hover {
    background: linear-gradient(-90deg, rgba(120, 2, 6, 0.6) 0%, rgba(6, 17, 97, 0.6) 81.56%), url("../../assets/images/projects/ims.png");
}

#projects .project .project_img:hover {
    background-size: cover;
    background-repeat: no-repeat;
}

#projects .project .project_img:hover .project_name {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 30%;
    height: 70px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    -ms-transition: all 2s linear;
    background-color: var(--bg-white);
}


/* ======projects modal===== */

.modal-title {
    font-size: 28px;
    font-weight: 900;
    color: var(--primary);
}

.modal-body {
    font-size: 18px;
    font-weight: 600;
}

.modal-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.modal-footer .btn {
    color: var(--text-white);
    background-color: var(--primary);
}


/* =====conatct===== */

#contact .section_title {
    padding-top: 80px;
}

.contact_img {
    height: 30px;
    width: 30px;
}

.contact_form .btn {
    background-color: var(--primary);
    border-radius: 0;
    border: none;
    font: 18px;
    color: white;
    font-weight: 600;
}

.contact_form .btn:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--text-black);
}

.contact_info {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-gray);
}

.contact_info a {
    text-decoration: none;
    color: inherit;
}

.contact_info div {
    margin: 17px auto;
}

.contact_info .sc_icons {
    width: 250px;
    display: flex;
    margin: 0 0;
    justify-content: flex-start;
    align-items: center;
}

.contact_info .sc_icons .icon {
    background-color: var(--primary);
    height: 40px;
    border-radius: 20px;
    width: 40px;
}

.contact_info .sc_icons .icon:hover {
    background-color: var(--text-gray);
}

.google_map {
    margin: 30px auto 30px;
}


/* =====footer===== */

footer div p {
    margin: 0;
}

footer div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}
